<div class="panel panel-default">
    <div class="panel-heading">
        <%= yield(:form_title) %>
    </div>
    <div class="panel-body">
        <%= simple_form_for @yearbook, html: { multipart: true } do |f| %>
        <div class="row">
            <div class="col-md-12">
                <%= f.error_notification %>
            </div>
            <div class="col-md-6">
                <%= f.input :title, label: "Name" %>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-12">
                <%= f.button :submit, class: "form-control btn btn-primary" %>
            </div>
        </div>
        <% end %>
    </div>
</div>
