<footer class="footer">
  <div class="container">
  <p class="text-muted text-center">

    <%= link_to 'About', static_pages_about_path %> |
    <%= link_to 'Help', static_pages_help_path %> |
    <%= link_to 'Privacy Policy', static_pages_privacy_policy_path %> |
    <%= link_to 'Report Problem', static_pages_report_problem_path %>
    <br>
    Copyright <%= Time.now.strftime('%Y') %> &#169; AKA Group
  </p>
</div>
</footer>
