<!DOCTYPE html>
<html>
  <head>
    <title>Redlist</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <div style="padding-top: 80px;"></div>
      <%#= render 'layouts/messages' %>
      <%= yield %>
    </div>
      <div style="padding-bottom: 50px;"></div>
      <%= render 'layouts/footer' %>
  </body>

</html>
